

:root {
    --main-text-color: #485474;
  }

.container {
    width: 1440px;
    margin: 0 auto;
    background-color: #fff;
    color: var(--main-text-color);
    font-family: "Nunito", sans-serif;
}

header {
    width: 90%;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 100px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 20px;
}

.logo {
    width: 300px;
    height: 73px;
    margin-right: 229px;
    padding-left: 2px;
}

.logo img {
    display: block;
    width: 100%;
}

.adress, .hours{
    height: 38px;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.adress {
    width: 246px;
    margin-left: -50px;
}

.adress-text {
    margin-left: 10px;
}

.hours {
    width: 184px;
    margin-left: 10px;
}

.phone {
    width: 233px;
    height: 68px;
    margin-top: 11px;
    margin-left: px;
}

.phone-button {
    margin-left: 72px;
    margin-top: 7px;
}

.phone-number {
    font-size: 25px;
    font-weight: bold;
}

.phone-button button {
    width: 149px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #FC6C3F;
    background-color: #F3F4F5;
    border-radius: 29px;
    border: none;
}

.header-bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 21px;
    border-top: 2px solid rgb(72, 84, 116, 0.21);
}

.services button {
    width: 203px;
    height: 38px;
    background-color: var(--main-text-color);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 48px;
    border: none;
    margin-top: -12px;
    margin-left: -7px;
}

.services img {
    margin-left: 15px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 576px;
    height: 19px;
}

.menu a {
    text-decoration: none;
    display: inline-block;
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

.messangers {
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
}

.messangers div {
 height: 36px;  
 font-size: 14px;
 font-weight: bold;
 background-color: #F3F4F5;
 border-radius: 41px;   
}

.messangers div:nth-child(2) {
margin-left: 6px;
}

.messangers .telegram, .messangers .whatsApp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12px;
   
}

.messangers .telegram {
    width: 201px;
}

.messangers .whatsApp {
    width: 208px;
}

.messangers img {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 14px;
}

main {
    width: 89.6%;
    margin: 0 auto;
    height: 917px;
    /* margin-bottom: 100px; */
}

.promo {
    display: flex;
    width: 100%;
    height: 348px;
    background-image: url('./img/Promo.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 46px;
    font-weight: bold;
}

.promo-text {
    width: 641px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 64px 0 64px 60px;
    line-height: 120%;
}

.promo-img {
    display: flex;
}

.promo-img img {
    display: block;
    margin-top: -84px;
    margin-left: -44px;
    width: 591px;
    height: 464px;
}

.content {
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f1;
    border-radius: 0 0 60px 60px;
    padding: 60px 34px 0 60px;
    z-index: 10;
}

.content_text__about {
    padding-bottom: 60px;
}

.status_title, .signUp_title {
    font-size: 24px;
    font-weight: bold;
}


.content_text__status p {
    font-size: 18px;
}

.content_text__benefits {
    width: 710px;
    height: 104px;
    display: flex;
    justify-content: space-between;
    margin-top: -4px;
}

.benefit {
    width: 334px;
    height: 104px;
    display: flex;
    justify-content: space-between;
}

.benefit-text {
    font-size: 20px;
    font-weight: bold;
    margin-left: 16px;
    line-height: 130%;
}

.content_text__status {
    margin-top: 6px;
    margin-left: -6px;
    width: 685px;
    height: 149px;
    padding-bottom: 32px;
}

.content_img {
    width: 454px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_img .sertificate {
    width: 425px;
    height: 310px;
    margin-top: -8px;
    margin-left: 12px;
}

.content_img .reflection {
    width: 452px;
    height: 220px;
    overflow: hidden;
}

.content_img .reflection img {
    margin-left: -270px;
    margin-top: -76px;
    width: 740px;
    height: 350px;
}

.content_img img {
    display: block;
    width: 100%;
}

.content_text__signUp {
    width: 599px;
}

.signUp_title {
    padding-bottom: 16px;
    margin-left: -4px;
}

.signUp_button button {
width: 370px;
height: 55px;
background-color: var(--main-text-color);
color: #fff;
border-radius: 29px;
border: none;
font-family: "Figtree", sans-serif;
font-weight: 500;
font-size: 26px;
margin-top: 4px;
margin-left: -8px;
}